body,
html,
#root {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.705);
}

#reviews-container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  width: 75%;
  margin: 0 auto;
}

#reviews-title {
  display: grid;
  grid-template-columns: 100px auto 50px;
  border-top: 1px solid  rgba(0, 0, 0, 0.405);
  border-bottom: 1px solid  rgba(0, 0, 0, 0.405);
  margin-top: 5px;
  padding: 15px 5px 15px 5px;
  color: black;
  outline: black;
  cursor: pointer;
  transition-duration: .5s;
}

#reviews-title:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
#reviews-title-text {
  grid-column: 1;
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}
#reviews-title-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.586);
}

#reviews-title i {
  grid-column: 3;
  align-self: center;
  justify-self: end;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.686);
  position: relative;
}

#RTS-count {
  margin-left: 8px;
  font-size: 14px;
  margin-top: 5px;
}

#reviews-content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.405);
}

#reviews-content-locked {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.405);
  margin-top: 59px;
  position: absolute;
  height: 92vh;
  max-width: 1000px;
  overflow: hidden;
}

#reviews-header{
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: auto 50px;
  height: fit-content;
}

#reviews-graph {
  grid-column: 1;;
  display: flex;
  flex-direction: column;
}

#reviews-graph-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.755);
}

#RGH-average {
  font-size: 48px;
}

#RGH-stars-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 15px;
}

.RGH-rating {
  color: rgb(244, 186, 49);
  font-size: 18px;
}

.RGH-count {
  font-size: 14px;
}

#reviews-graph-body{
  display: flex;
  flex-direction: column;
}

.RGB-bar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0px 4px 0px;
}

.RGB-bar-bottom {
  margin: 0;
  background-color: rgba(128, 128, 128, 0.271);
  height: 15px;
  width: 75%;
  cursor: pointer;
}

.RGB-bar-top {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.70);
  height: 15px;
  width: 60%;
  transition-duration: .5s;
}

.RGB-bar-top-selected {
  margin: 0;
  background-color: rgba(244, 186, 49, 0.778);
  height: 15px;
  width: 60%;
  transition-duration: .5s;
}

.RGB-bar-top:hover {
  background-color: rgba(0, 0, 0, 0.90);

}

.RGB-count {
  font-size: 14px;
  margin-left: 5px;
}

.RGB-rating {
  color: rgb(244, 186, 49);
  margin-left: 5px;
}

#reviews-gallery {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.reviews-gallery-img {
  height: 95px;
  width: 85px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reviews-gallery-img img {
  height: 95px;
}

#reviews-gallery-button-div {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reviews-gallery-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: solid 1px rgba(0, 0, 0, 0.696);
  color: rgba(0, 0, 0, 0.696);
  border-radius: 5px;
  cursor: pointer;
}

.reviews-gallery-svg-grid-icon {
  margin-right: 5px;
}

#reviews-filter-title{
  font-weight: 600;
  padding: 10px;
  padding-left: 2px;
  color: black;
}

#reviews-mods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
  position: relative;
}
#reviews-mods #mod-container fieldset {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 25px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.705);
  font-size: 12px;
  position: relative;
}
#mod-container{
  outline: none;
}

#reviews-mods legend {
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 4px;
  font-size: 12px;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.fieldset-current {
  display: flex;
  flex-direction: row;
  margin: -7px 0px 0px 0px;
  font-size: 16px;
}

.r-menu-caret {
  margin: -7px 0px 0px -5px;
}

fieldset i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
}

#mod-menu-dropdown-Sort{
  display: none;
  flex-direction: column;
  position: absolute;
  width: 170px;
  height: fit-content;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.405);
  background-color: white;
  z-index: 10;
  outline: none;
}

#mod-menu-dropdown-Sort div {
  padding: 2px;
  padding-left: 6px;
}

#mod-menu-dropdown-Rating {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 170px;
  height: fit-content;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.405);
  background-color: white;
  z-index: 10;
}

#reviews-filter-clear-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 9px;
  padding-left: 10px;
  left: 180px;
  position: absolute;
}

#reviews-filter-clear {
  background-color: transparent;
  border: solid rgba(0, 0, 0, 0.319) 1px;
  border-radius: 4px;
  outline: none;
  width: 100px;
  padding: 6px;
  text-align: center;
  cursor: pointer;
  transition-duration: .5s;
}
#reviews-filter-clear:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.fieldset-option {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  cursor: pointer;
}
.fieldset-option:last-child {
  padding-bottom: 5px;
}

.fieldset-option:hover{
  background-color: rgba(0, 0, 0, .05);
}

.fieldset-current #RFF-all{
  margin-top: -4px;
}

#RFF-all {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 0px 7px;
  font-size: 16px;
}

#reviews-display-msg {
  font-size: 14px;
  padding: 10px 0px;
  font-weight: bold;
}

#reviews-list {
width: 100%;
height: fit-content;
display: flex;
flex-direction: column;
}

.reviews-list-item {
  border-bottom: 1px solid rgb(188, 188, 188);
  margin-top: 20px;
}

.RLI-top-line{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RLI-stars {
  display: flex;
  flex-direction: row;
}

.RLI-rating-bottom {
  padding: 0px 5px 0px 5px;
  color: rgb(210, 210, 210);
  font-size: 18px;
  width: 87px;
  position: relative;
}

.RLI-rating-top {
  padding: 0px 5px 0px 5px;
  color: rgb(244, 186, 49);
  font-size: 18px;
  width: 90px;
  overflow: hidden;
  position: absolute;
}

.RLI-top-width {
  width: 80%;
  overflow: hidden;
}

.RLI-verified {
  margin: 5px 10px 5px 10px;
  padding: 3px 5px 1px 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.654);
  border-left: solid 1px rgba(139, 138, 138, 0.607);
}

.RLI-title {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  color: rgba(0, 0, 0, 0.709);
}

.RLI-body {
  padding: 10px 0px 10px 0px;
}

.RLI-images {
  display: flex;
  flex-direction: row;
  height: fit-content;
  height: 90px;
}

.RLI-images img {
  margin-right: 5px;
  height: 90px;
  transition-duration: .5s;
  cursor: pointer;
}

.RLI-bottom-line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: 14px;
  margin-top: 10px;
}

.RLI-helpful {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RLI-helpful-thumb{
  border: 1px solid rgba(0, 0, 0, 0.505);
  padding: 5px;
  margin-left: 10px;
  border-radius: 3px;;
  transition-duration: .5s;
  outline: none;
}

.RLI-helpful i{
  transform: scale(1.2);
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.705);
  transition-duration: .5s;
}

.RLI-helpful-thumb:hover {
  border: 1px solid rgba(0, 0, 0, 0.805);
}

.RLI-helpful i:hover {
  transform: scale(1.4);
}

#reviews-list-compose {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 40px;
  margin-right: -10px;
}

#reviews-show-more {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 20px 0px 10px 0px;
  padding: 5px 20px 5px 20px;
  transition-duration: .5s;
  cursor: pointer;
}

#reviews-show-more button {
  font-size: 16px;
  background-color: transparent;
  transition-duration: .4s;
}

#reviews-show-more button:hover {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

#RSM-text {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#reviews-show-more i {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.reviews-list-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border: solid 1px rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.705);
  background-color: transparent;
  border-radius: 8px;
  margin: 10px;
  width: 180px;
  cursor: pointer;
}
.reviews-list-button:hover, #RSM-text {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.02);
}

#RLB-see-all {
  border: solid 1px rgba(0, 0, 0, 0.705);
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
}

#reviews-modal-closed {
  display: none;
}

#reviews-modal-open {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  left: 0;
  top: 0;
  overflow: hidden;
}

#reviews-modal-container {
  background-color: white;
  min-width: 800px;
  width: 80%;
  margin: 15px auto;
}

#reviews-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
}

#reviews-modal-title {
  font-weight: bold;
  margin: 10px;
}

#reviews-modal-x {
  background-color: transparent;
  margin: 10px 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: .5s;
}

#reviews-modal-x:hover {
  transform: scale(1.1);
}

#reviews-modal-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#reviews-modal-body .reviews-list-item {
  border: none;
  font-size: 14px;
}

#reviews-modal-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.265);
  height: 350px;
  overflow: hidden;
  width: 350px;
  margin: 10px 0px;
}

#reviews-modal-image img{
  width: 350px;
}

#reviews-modal-item{
  width: 450px;
}

#reviews-modal-item .RLI-bottom-line {
  display: flex;
  flex-direction: column;
}

#reviews-modal-item .RLI-by-line {
  align-self: flex-start;
}

#reviews-modal-item .RLI-helpful {
  margin-top: 10px;
  color: transparent;
}

#reviews-modal-item .RLI-helpful-thumb {
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.654);
}

#reviews-modal-item .RLI-top-line{
  margin-left: -5px;
}

#modal-footer-none{
  display: none;
}

#modal-footer-display {
  background-color: rgba(0, 0, 0, 0.03);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
}

#modal-footer-display button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;
  margin: 15px 0px;
  font-size: 14px;
  color: #0272a2;
  cursor: pointer;
  transition-duration: .5s;
}

#modal-footer-display #modal-footer-btn-prev {
  grid-column: 1;
  justify-self: flex-start;
}

#modal-footer-display #modal-footer-btn-next {
  grid-column: 2;
  justify-self: flex-end;
}

#modal-footer-display button svg {
  padding: 5px;
}

/* #modal-footer-display button:hover {
  color: #01466384;
} */
