body,
html,
#root {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.705);
}

#reviews-container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 900px;
  width: 75%;
  margin: 0 auto;
}
#reviews-title {
  /* border: 2px solid black; */
  border-top: 1px solid  rgba(0, 0, 0, 0.705);
  font-size: 20px;
  font-weight: 600;
  padding: 15px 5px 15px 5px;
  color: black;
  padding-top: 150px;;
}

#reviews-header{
  display: grid;
  grid-template-columns: 65% 35%;
  height: fit-content;
}

#reviews-graph {
  display: flex;
  flex-direction: column;
}

#reviews-graph-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.755);
}

#RGH-average {
  font-size: 48px;
}

#RGH-stars-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 15px;
}

.RGH-rating {
  color: rgb(244, 186, 49);
  font-size: 18px;
}

.RGH-count {
  font-size: 14px;
}

#reviews-graph-body{
  display: flex;
  flex-direction: column;
}

.RGB-bar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0px 4px 0px;
}

.RGB-bar-bottom {
  margin: 0;
  background-color: rgba(128, 128, 128, 0.271);
  height: 15px;
  width: 75%;
  cursor: pointer;
}

.RGB-bar-top {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.70);
  height: 15px;
  width: 60%;
  transition-duration: .5s;
}

.RGB-bar-top-selected {
  margin: 0;
  background-color: rgba(244, 186, 49, 0.778);
  height: 15px;
  width: 60%;
  transition-duration: .5s;
}

.RGB-bar-top:hover {
  background-color: rgba(0, 0, 0, 0.90);

}

.RGB-count {
  font-size: 14px;
  margin-left: 5px;
}

.RGB-rating {
  color: rgb(244, 186, 49);
  margin-left: 5px;
}

#reviews-gallery {
  display: grid;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
}

#reviews-filter-title{
  font-weight: 600;
  padding: 10px;
  padding-left: 2px;
  color: black;
  margin-top: 20px;
}

#reviews-mods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
  position: relative;
}
#reviews-mods #mod-container fieldset {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 25px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.705);
  font-size: 12px;
  position: relative;
}
#mod-container{
  outline: none;
}

#reviews-mods legend {
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 4px;
  font-size: 12px;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.fieldset-current {
  display: flex;
  flex-direction: row;
  margin: -7px 0px 0px 0px;
  font-size: 16px;
}

.r-menu-caret {
  margin: -7px 0px 0px -5px;
}

fieldset i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
}

#mod-menu-dropdown-Sort{
  display: none;
  flex-direction: column;
  position: absolute;
  width: 170px;
  height: fit-content;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.405);
  background-color: white;
  z-index: 10;
  outline: none;
}

#mod-menu-dropdown-Sort div {
  padding: 2px;
  padding-left: 6px;
}

#mod-menu-dropdown-Rating {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 170px;
  height: fit-content;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.405);
  background-color: white;
  z-index: 10;
}

#reviews-filter-clear-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 9px;
  padding-left: 10px;
  left: 180px;
  position: absolute;
}

#reviews-filter-clear {
  background-color: transparent;
  border: solid rgba(0, 0, 0, 0.319) 1px;
  border-radius: 4px;
  outline: none;
  width: 100px;
  padding: 6px;
  text-align: center;
  cursor: pointer;
  transition-duration: .5s;
}
#reviews-filter-clear:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.fieldset-option {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  cursor: pointer;
}
.fieldset-option:last-child {
  padding-bottom: 5px;
}

.fieldset-option:hover{
  background-color: rgba(0, 0, 0, .05);
}

.fieldset-current #RFF-all{
  margin-top: -4px;
}

#RFF-all {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 0px 7px;
  font-size: 16px;
}

#reviews-display-msg {
  font-size: 14px;
  padding: 10px 0px;
  font-weight: bold;
}

/* REVIEWS LIST BELOW ///////////////// */

#reviews-list {
width: 100%;
height: fit-content;
display: flex;
flex-direction: column;
}

.reviews-list-item {
  border-bottom: 1px solid rgb(188, 188, 188);
  margin-top: 20px;
}

.RLI-top-line{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RLI-stars {
  display: flex;
  flex-direction: row;
}

.RLI-rating-bottom {
  padding: 0px 5px 0px 5px;
  color: rgb(210, 210, 210);
  font-size: 18px;
  width: 87px;
  position: relative;
}

.RLI-rating-top {
  padding: 0px 5px 0px 5px;
  color: rgb(244, 186, 49);
  font-size: 18px;
  width: 90px;
  overflow: hidden;
  position: absolute;
}

.RLI-top-width {
  width: 80%;
  overflow: hidden;
}

.RLI-verified {
  margin: 5px 10px 5px 10px;
  padding: 3px 5px 1px 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.654);
  border-left: solid 1px rgba(139, 138, 138, 0.607);
}

.RLI-title {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  color: rgba(0, 0, 0, 0.709);
}

.RLI-body {
  padding: 10px 0px 10px 0px;
}

.RLI-bottom-line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: 14px;
  margin-top: 50px;
}

.RLI-helpful {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RLI-helpful-thumb{
  border: 1px solid rgba(0, 0, 0, 0.505);
  padding: 5px;
  margin-left: 10px;
  border-radius: 3px;;
  transition-duration: .5s;
  outline: none;
}

.RLI-helpful i{
  transform: scale(1.2);
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.705);
  transition-duration: .5s;
}

.RLI-helpful-thumb:hover {
  border: 1px solid rgba(0, 0, 0, 0.805);
}

.RLI-helpful i:hover {
  transform: scale(1.4);
}

#reviews-list-compose {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 40px;
  margin-right: -10px;
}

#reviews-show-more {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 20px 0px 10px 0px;
  padding: 5px 20px 5px 20px;
  /* border: 1px solid black; */
  transition-duration: .5s;
  cursor: pointer;
}

#RSM-text {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#reviews-show-more i {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.reviews-list-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border: solid 1px rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.705);
  background-color: transparent;
  border-radius: 8px;
  margin: 10px;
  width: 180px;
  cursor: pointer;
}
.reviews-list-button:hover, #RSM-text {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.02);
}

#RLB-see-all {
  border: solid 1px rgba(0, 0, 0, 0.705);
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
}
